<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<script src="{% static 'js/script.js' %}"></script>
<title>Portfolio</title>
</head>
<div class="sidenav" id="sidenav">
    <a href ="javascript:void(0)" class="close" onclick="closeNav()">&#9776;</a>
    <a href="{% url 'home' %}">Home</a>
    <a href="">About</a>
    <a href="{% url 'blog' %}">Blog</a>
    <a href="">Contact</a>
</div>
<div class="main" id="main">
<body>
<span class ="open" onclick="openNav()">&#9776</span>
<img src="{% static 'images/PicsArt_12-23-11.18.05.jpg' %}" alt="Photo Of Harshdeep">
<div class="Welcome" id="Welcome">
    <p>Harshdeep Sahu<p>
</div>


<div class="About" id="About">
    <h2>About Me</h2>
    <p>
    I am Harshdeep Sahu, currently an undergrad at IIT Guwahati doing my Majors in Civil
    Engineering. I am an enthusiast Software Developer looking forward to having more 
    oppurtinities in the IT sector and proving my worth.
    </p>
</div>

<div class="Skills" id="Skills">
    <h2>Skills</h2>

    <h5>Languages</h5>
    <p>C++</p>
    <p>Python</p>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

    <h5>Web Technologies</h5>
    <p>HTML,CSS</p>
    <p>Django</p>

    <h5>Other</h5>
    <p>Guitar</p>
    <p>Dance</p>
   
</div>

<div class ="footer">
    <p> Harshdeep -> 
    <a href="mailto:hege@example.com">harshdeepsahu5@gmail.com</a></p>
    <a href="https://www.facebook.com/VasuHDS/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/harshdeep__123/" class="fa fa-instagram"></a>
    <a href="https://www.linkedin.com/in/harshdeep-sahu-10a64b1a0/" class="fa fa-linkedin"></a>
</footer>



</body>
</div>


